# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# VS Code settings
.vscode/

# Virtual environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
pytest_cache/
.pytest_cache/

# Pyre type checker
.pyre/

# Pylint
pylint-report.txt
pylint-global.txt

# mypy
.mypy_cache/

# PyCharm (if you happen to use it too)
.idea/

# Docker files
*.log
*.pid
*.tar
*.gz

# Jupyter Notebook
.ipynb_checkpoints

# Misc
.DS_Store
Thumbs.db
